---
---

<div class="flex justify-center w-full">
  <nav class="fixed left-1/2 -translate-x-1/2 z-[100] bg-[var(--background)] border border-[var(--white-icon-tr)] backdrop-blur-xl transition-all duration-500 ease-in-out top-6 px-6 py-3 rounded-full">
    <a
      href="/"
      class="flex items-center gap-2 text-[var(--white-icon)] hover:text-[var(--white)] transition-colors text-base font-medium"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
        <path d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM6 19H18V9.15745L12 3.7029L6 9.15745V19Z"/>
      </svg>
      Home
    </a>
  </nav>
</div>